.brand-logo {
    margin-left: 10px;
    image-rendering: pixelated;
}

body {
    background-image: url(./restaurant-tea-counter-menu.jpg);
}
nav {
    background-color: transparent !important;
}

#radio {
    background-color: #3f51b5 !important;
}
.card {
    margin-left: 20%;
    margin-right: 20%;
}

.card-title {
    font-weight: bolder !important;
    font-family: 'Righteous', cursive !important;
}

#map {
    position: relative;
    padding-bottom: 26.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    box-sizing: inherit;
    }
    
    .map-container iframe,
    .map-container object,
    .map-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

.map-responsive iframe{
    height: auto;
    width: auto;
}
.map {
    margin-left: 50%;
}

#icon_prefix {
    border: pink;
    border-width: thick;
}

#searchBtn {
    margin: auto;
    color: white;
}

#searchRange {
    padding-bottom: 20px;
}

a {
    color: white;
    text-decoration: underline;
}

h1{
    font-family: 'Righteous', cursive !important; 
}

h2 {
    font-family: 'Righteous', cursive !important;
}

h3 {
    font-family: 'Righteous', cursive !important;
}

h4 {
    font-family: 'Righteous', cursive !important;
}

li {
    color: #3f51b5 !important;
}
.map {
    margin-left: 10%;
}
#editLocation{
    color: blue !important;
}
#aboutUs{
    font-weight: bold;
}
#map {
    height: 100%;
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }

  #inputRow {
      margin-bottom: -10%;
  }

  @media screen and (max-width: 600px) {
      .card {
     margin-left: 2%;
     margin-right: 2%;
    }

    #locationBtn {
        margin-left: 12%;
    }

    #searchRange {
        margin-left: 12%;
    }

    .file-field .btn {
        margin-left: 15% !important;
    }
  }