.brand-logo {
    margin-left: 10px;;
}
.card {
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 30%;
}
.card-title {
    font-weight: bolder !important;
    font-family: 'Arima Madurai', cursive !important;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:80%;
    width:80%;
    position:absolute;
}
.map {
    margin-left: 10%;
}
#editLocation{
    color: blue !important;
}